@charset "utf-8";
#wrap{
    background-color: #8E1F44;
    transition: 0.5s;
}

/* 공통 애니메이션 */
@keyframes roll-btn{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


/* 공통 roll-btn */
.roll-btn{
    width: 280px;
    height: 65px;
    line-height: 65px;
    border-radius: 35px;
    background-color: #222;
    text-align: center;
    overflow: hidden;
    cursor: pointer;
    margin-top: 60px;
}
.roll-box{
    width: 200%;
    display: flex;
}
.roll-btn h2{
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
}
.roll-btn:hover .btn1{
    animation: roll-btn 3s linear infinite;
}
.roll-btn:hover .btn2{
    animation: roll-btn 3s linear infinite;
}

/* header */
.banner{
    width: 100%;
    height: 100vh;
    background: url(../img/banner.jpg) no-repeat;
    background-position: center bottom;
    background-size: cover;
    position: relative;
}
.header.active{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}
.menu-box{
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header.active .menu-box{
    background-color: #222;
}
.menu-box .menu{
    display: flex;
    align-items: center;
    width: 41%;
    border-bottom: 1px solid #222;
    padding-top: 10px;
}
.menu-box .menu-l{
    padding-left: 210px;
}
.menu-box .menu-r{
    justify-content: flex-end;
    padding-right: 210px;
}
.menu-box .menu li{
    margin-right: 80px;
}
.menu-box .menu li:nth-child(3n){
    margin-right: 0;
}
.menu-box .menu li a{
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 2px;
    padding-bottom: 10px;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
}
.header.active .menu li a{
    font-size: 15px;
    color: #fff;
}
@keyframes line-draw{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}
.menu-box .menu-line{
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-110%);
    transition: 0.5s;
}
.menu-box .line{
    width: 100%;
    height: 100%;
    fill: #222;
}
.menu-line.active{
    transform: translateX(0);
}
.header-logo{
    background-image: url(../img/logo-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 240px;
    height: 125px;
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translateX(-50%);
}
.header.active .header-logo{
    background-image: url(../img/logo-white.svg);
    width: 120px;
    height: 62px;
    top: 50%;
    transform: translate(-50%,-50%);
}
.menu-box-m{
    display: none;
}

/* banner-txt */
.banner-txt{
    position: absolute;
    top: 23%;
    left: 50%;
    transform: translateX(-50%);
}
.banner-txt .title{
    display: flex;
    justify-content: center;
    margin-right: -20px;
    margin-bottom: 15px;
}
.banner-txt .title p{
    font-size: 90px;
    font-weight: 900;
    margin-right: 20px;
}
.banner .roll-btn{
    margin: 0 auto;
}

/* sec 공통 */
.head-title{
    font-size: 100px;
    font-weight: 900;
    margin-bottom: 20px;
}
.head-sub{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}
.container{
    width: 1500px;
    margin: 0 auto;
    padding: 200px 0;
}


/* sec-1 */
.sec-1{
    color: #fff;
}
.sec-1 .container{
    width: auto;
    padding: 220px 0 50px;
    margin: 0;
}
/* sec-1 head */
.sec-1-head{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 130px;
}


/* 공통 badge */
.badge{
    width: 280px;
    height: 280px;
    position: relative;
}
.badge .badge-inner{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.badge .back{
    animation: rotate 30s linear infinite;
}

.sec-1 .badge{
    margin-right: 250px;
}

/* sec-1 sec-5 공통 animate */
/* 스와이퍼 동작커스텀 */
.swiper {
    cursor: pointer;
}
  .swiper-wrapper {
    transition-timing-function: linear;
}
.animate-wrap{
    width: 100%;
    display: flex;
    overflow: hidden;
}
.animate-slider-box{
    display: flex;
}
@keyframes slide-roll{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

/* sec-1 animate */
.sec-1 .animate-wrap{
    height: 790px;
}
.sec-1 .slide{
    display: inline-block;
    margin-right: 75px;
    position: relative;
    width: 340px;
}
.sec-1 .slide:nth-child(2n){
    margin-top: 100px;
}
.sec-1 .background{
    height: 530px;
    border-radius: 170px;
    background-color: #6380a9;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}
.sec-1 .slide:hover .background::before{
    opacity: 1;
}
.sec-1 .background::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    position: absolute;
    transform: translateX(50%);
    opacity: 0;
    transition: 1s
}
.sec-1 .background .img-box{
    width: 220px;
    height: 220px;
    z-index: 99;
}
.sec-1 .background .img-box img{
    object-position: center;
    object-fit: contain;
}
.sec-1 .txt-box{
    position: absolute;
    top: 420px;
    left: 0;
}
.sec-1 .txt-inner .type{
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}
.sec-1 .txt-inner .title{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 15px;
    text-transform: capitalize;
    line-height: 1.1;
}
.sec-1 .txt-inner .price{
    font-size: 20px;
    font-weight: 400;
}
.sec-1 .roll-btn{
    width: 160px;
    height: 60px;
    background-color: #6380a9;
    border-radius: 60px;
    line-height: 60px;
    margin-top: 40px;
}
.sec-1 .roll-btn h2{
    font-size: 16px;
    letter-spacing: 4px;
}
.sec-1 .slide:hover .btn1{
    animation: roll-btn 2s linear infinite;
}
.sec-1 .slide:hover .btn2{
    animation: roll-btn 2s linear infinite;
}
.sec-1 .slide.box2 .background,
.sec-1 .slide.box2 .roll-btn{
    background-color: #421912;
}
.sec-1 .slide.box3 .background,
.sec-1 .slide.box3 .roll-btn{
    background-color: #3E5B4D;
}
.sec-1 .slide.box4 .background,
.sec-1 .slide.box4 .roll-btn{
    background-color: #B6B1A7;
}
.sec-1 .slide.box5 .background,
.sec-1 .slide.box5 .roll-btn{
    background-color: #DFA43D;
}
.sec-1 .slide.box6 .background,
.sec-1 .slide.box6 .roll-btn{
    background-color: #914E86;
}
.sec-1 .slide.box7 .background,
.sec-1 .slide.box7 .roll-btn{
    background-color: #B99366;
}
.sec-1 .slide.box8 .background,
.sec-1 .slide.box8 .roll-btn{
    background-color: #CD6F6F;
}
.sec-1 .slide.box9 .background,
.sec-1 .slide.box9 .roll-btn{
    background-color: #D65616;
}
.sec-1 .slide.box10 .background,
.sec-1 .slide.box10 .roll-btn{
    background-color: #7D420A;
}


/* sec-2 */
.sec-2 .container{
    padding: 400px 0 350px;
}
.card-flex-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sec-2 .head-title span{
    font-family: "Roboto";
}

/* 공통 card animation */
.card-wrap{
    width: 580px;
    height: 730px;
    position: relative;
    margin-right: 60px;
}
.card-wrap .card{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    cursor: pointer;
}
.card.box1{
    background: url(../img/sec-2_1.jpg) no-repeat center center;
    background-size: cover;
    z-index: 3;
    opacity: 1;
}
.card.box2{
    background: url(../img/sec-2_2.jpg) no-repeat center center;
    background-size: cover;
    z-index: 2;
    transform: translateX(-12%) rotate(-10deg);
    opacity: 1;
}
.card.box3{
    background: url(../img/sec-2_3.jpg) no-repeat center center;
    background-size: cover;
    z-index: 1;
    transform: translateX(12%) rotate(10deg);
    opacity: 1;
}
.card{
    transition: 1s ease-in-out;
}
/* card animate */
.card.active{
    transform: translate(-40%) rotate(-45deg);
    opacity: 0;
    z-index: 0;
}
.card.on{
    transform: none;
}


/* sec-3 */
.sec-3{
    position: relative;
}
.sec-3 .container{
    padding: 180px 0 110px;
}
.sec-3-flex{
    display: flex;
    justify-content: flex-end;
}
.sec-3 .box-l{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sec-3 .box-l .left-inner{
    width: 1000px;
    height: 980px;
    background-color: #8E1F44;
    padding: 150px 0 120px 210px;
    border-top-right-radius: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sec-3 .roll-btn{
    background-color: transparent;
    width: 230px;
    border: 2px solid #fff;
    margin-top: 60px;
}
.sec-3 .icon-container{
    display: flex;
    margin-top: 80px;
}
.sec-3 .icon-box{
    width: 90px;
    height: 90px;
    margin-right: 35px;
}
.sec-3 .flavor{
    margin-top: -70px;
    padding-bottom: 20px;
}
.sec-3 .flavor li{
    width: 400px;
    margin-top: 65px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}
.sec-3 .flavor li::before{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #222;
    position: absolute;
    bottom: 0;
    left: 0;
}
.sec-3 .flavor li::after{
    content: '';
    width: 100%;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    transition: 1.5s;
    z-index: 9;
}
.sec-3 .flavor li:hover::after{
    transform: translateX(0);
}
.sec-3 svg{
    width: 310px;
    height: 67px;
    fill: #222;
    stroke: transparent;
    stroke-width: 0.5px;
    stroke-dasharray: 240px;
    stroke: transparent;
    stroke-dashoffset: 240px;
    transition: 2s;
}
.sec-3 .flavor li:hover svg{
    stroke: #fff;
    stroke-dashoffset: 0;
}
.sec-3 svg text{
    font-family: "PlayfairDisplay";
    font-size: 46px;
}
.sec-3 svg tspan{
    font-family: "NotoSansKR";
    font-size: 22px;
}


/* sec-4 */
.sec-4{
    background-color: #FFB7C4;
    position: relative;
    overflow: hidden;
}
.sec-4 .container{
    padding: 50px 0;
}
.sec-4 .animation-txt{
    width: auto;
    height: 600px;
    position: absolute;
}
.sec-4 .animation-txt.box1{
    left: 50px;
    top: 450px;
    animation: txt1 40s linear infinite;
}
.sec-4 .animation-txt.box2{
    right: 50px;
    top: -600px;
    animation: txt2 40s linear infinite;
}
@keyframes txt1{
    0%{
        top: 450px;
    }
    100%{
        top: -600px;
    }
}
@keyframes txt2{
    0%{
        top: -600px;
    }
    100%{
        top: 450px;
    }
}
.sec-4 .head{
    padding-bottom: 25px;
    text-align: center;
}
.sec-4 .head-title{
    font-size: 40px;
}
.sec-4-swiper{
    padding-bottom: 50px !important;
}
.sec-4 .inner{
    background-color: #FFB7C4;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: default;
}
.sec-4 .inner .title{
    font-size: 24px;
    font-weight: 900;
    padding-bottom: 15px;
    text-transform: uppercase;
}
.sec-4 .inner .icon-box{
    width: 80px;
    height: 80px;
    margin-top: 10px;
}
.sec-4 .inner .sub{
    font-size: 16px;
    font-weight: 600;
    margin-top: 15px;
}
.sec-4-btn{
    bottom: 0 !important;
}
.sec-4 .swiper-pagination-bullet{
    background-color: transparent;
    border: 1px solid #444 !important;
    opacity: 1;
}
.sec-4 .swiper-pagination-bullet-active{
    background-color: #222 !important;
}


/* sec-5 */
.sec-5 .badge{
    margin-left: 400px;
}
.sec-5 .card-flex-box{
    margin-top: 130px;
}
.sec-5 .card.box1{
    background: url(../img/sec-5_1.jpg) no-repeat center center;
    background-size: contain;
}
.sec-5 .card.box2{
    background: url(../img/sec-5_2.jpg) no-repeat center center;
    background-size: contain;
}
.sec-5 .card.box3{
    background: url(../img/sec-5_3.jpg) no-repeat center center;
    background-size: contain;
}


/* sec-6 */
.sec-6 .container{
    width: auto;
    margin: 0;
}
.sec-6 .head{
    display: inline-block;
    margin-left: 55%;
}
.sec-6 .slide{
    margin-right: 60px;
    cursor: pointer;
    width: 450px;
}
.sec-6 .slide .img-box{
    width: 100%;
    height: 450px;
}
.sec-6 .slide:hover .img-box{
    animation: slide 1s infinite; 
}
@keyframes slide{
    0%{
        transform: translate(0);
    }
    50%{
        transform: translateY(-15px);
    }
    100%{
        transform: translate(0);
    }
}
.sec-6 .animate-wrap{
    margin-top: 160px;
}
.sec-6 .animate-slider-box{
    padding: 15px 0;
}
.sec-6 .slide .title{
    font-size: 38px;
    font-weight: 900;
    line-height: 1.1;
    text-transform: capitalize;
    word-break: keep-all;
    margin-top: 20px;
}
.sec-6 .slide.box2{
    margin-top: 70px;
}
.sec-6 .slide.box4{
    margin-top: 30px;
}
.sec-6 .slide.box6{
    margin-top: 50px;
}


/* footer */
.footer{
    background-color: #8E1F44;
    color: #fff;
}
.footer .container{
    padding: 120px 0 80px;
}
.footer .head{
    margin-bottom: 80px;
}
.footer .head .logo-box{
    width: 240px;
    height: 100%;
    margin: 0 auto;
}
.footer .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 150px;
}
.footer .txt-box{
    width: 800px;
}
.footer .txt-box .title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.footer .txt-box .sub .in-box{
    display: flex;
    margin-bottom: 5px;
}
.footer .txt-box .sub .in-box:last-child{
    margin-bottom: 0;
}
.footer .txt-box .sub .in-box p{
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
}
.footer .txt-box .sub .in-box p:last-child{
    margin-left: 20px;
}
.footer .notice li{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 12px;
}
.footer .notice li:last-child{
    margin-bottom: 0;
}
.footer .icon .in-box{
    display: flex;
}
.footer .icon .in-box:first-child{
    margin-bottom: 20px;
}
.footer .icon .img-box{
    width: 35px;
    height: 35px;
}
.footer .icon .img-box:first-child{
    margin-right: 20px;
}
.footer .bottom{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}


@media (max-width:1700px){
    /* header */
    .menu-box{
        height: 80px;
    }
    .menu-box .menu{
        padding-top: 5px;
        width: 42%;
    }
    .menu-box .menu-l {
        padding-left: 100px;
    }
    .menu-box .menu li a{
        padding-bottom: 5px;
    }
    .header-logo{
        width: 210px;
        height: 111px;
        top: 27px;
    }
    .header.active .header-logo {
        width: 110px;
        height: 58px;
    }
    .menu-box .menu-r{
        padding-right: 100px;
    }

    /* banner */
    .banner-txt .title{
        margin-bottom: 10px;
    }
    .banner-txt .title p{
        font-size: 85px;
    }
    .roll-btn{
        width: 260px;
        height: 63px;
        line-height: 63px;
    }
    .roll-btn h2{
        font-size: 17px;
    }

    /* sec 공통 */
    .container{
        width: 1200px;
    }
    .head-title{
        font-size: 80px;
        margin-bottom: 10px;
    }
    .head-sub{
        font-size: 14px;
    }

    /* sec-1 */
    .badge{
        width: 230px;
        height: 230px;
    }
    /* sec-1 swiper */
    .sec-1 .animate-wrap {
        height: 740px;
    }
    .sec-1 .slide{
        width: 355px;
    }
    .sec-1 .background{
        height: 500px;
    }
    .sec-1 .background .img-box{
        width: 200px;
        height: 200px;
    }
    .sec-1 .txt-box{
        top: 400px;
    }
    .sec-1 .txt-inner .type{
        font-size: 16px;
    }
    .sec-1 .txt-inner .title{
        font-size: 35px;
    }
    .sec-1 .txt-inner .price{
        font-size: 18px;
    }
    .sec-1 .roll-btn{
        margin-top: 30px;
    }
    .sec-1 .roll-btn h2{
        font-size: 14px;
    }

    /* sec-2 card */
    .card-wrap{
        width: 530px;
        height: 667px;
    }

    /* sec-3 */
    .sec-3 .box-l .left-inner{
        width: 890px;
        height: 890px;
        padding: 110px 0 80px 160px;
    }
    .sec-3 .roll-btn{
        width: 210px;
    }
    .sec-3 .icon-container{
        margin-top: 115px;
    }
    .sec-3 .icon-box{
        width: 85px;
        height: 85px;
    }
    .sec-3 .flavor{
        margin-top: -60px;
    }
    .sec-3 .flavor li{
        width: 310px;
        margin-top: 60px;
    }
    .sec-3 svg{
        width: 280px;
        stroke-dasharray: 200px;
        stroke-dashoffset: 200px;
    }
    .sec-3 svg text{
        font-size: 40px;
    }
    .sec-3 svg tspan{
        font-size: 18px;
    }

    /* sec-5 */
    .sec-5 .badge {
        margin-left: 200px;
    }

    /* sec-6 */
    .sec-6 .slide{
        width: 420px;
    }
    .sec-6 .slide .title{
        font-size: 35px;
    }
    .sec-6 .slide .img-box{
        height: 420px;
    }

    /* footer */
    .footer .txt-box{
        width: 720px;
    }
}


@media (max-width:1500px){
    /* 공통 영역 */
    .container{
        padding: 0;
    }

    /* header */
    .menu-box .menu{
        width: 41%;
    }
    .menu-box .menu li {
        margin-right: 70px;
    }
    .menu-box .menu li a,
    .header.active .menu li a{
        font-size: 14px;
    }

    /* sec-1 */
    .sec-1 .container,
    .sec-5 .container{
        padding: 135px 0 50px;
    }

    /* sec-2 */
    .sec-2 .container {
        padding: 350px 0 210px;
    }

    /* sec-3 */
    .sec-3 .box-l .left-inner{
        width: 830px;
        height: 840px;
        padding: 90px 0 90px 130px;
    }
    .sec-3 .flavor li{
        width: 285px;
        margin-top: 45px;
    }
    .sec-3 .flavor {
        margin-top: -45px;
    }
    .sec-3 svg {
        width: 270px;
        stroke-dasharray: 180px;
        stroke-dashoffset: 180px;
    }
    .sec-3 svg text {
        font-size: 35px;
    }

    /* sec-4 */
    .sec-4 .container {
        padding: 65px 0;
        width: 1000px;
    }

    /* sec-6 */
    .sec-6 .container {
        padding: 350px 0 150px;
    }
    .sec-6 .slide .title {
        font-size: 32px;
    }

    /* footer */
    .footer .container {
        padding: 80px 0 55px;
    }
    .footer .head {
        margin-bottom: 65px;
    }
    .footer .head .logo-box {
        width: 190px;
    }
    .footer .content{
        margin-bottom: 95px;
    }
    .footer .txt-box .title{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .footer .txt-box .sub .in-box{
        margin-bottom: 2px;
    }
    .footer .txt-box .sub .in-box p{
        font-size: 15px;
    }
    .footer .notice li{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .footer .icon .in-box:first-child {
        margin-bottom: 15px;
    }
    .footer .icon .img-box:first-child {
        margin-right: 15px;
    }
    .footer .icon .img-box {
        width: 30px;
        height: 30px;
    }
    .footer .bottom{
        font-size: 16px;
    }
}


@media (max-width:1300px){
    /* header */
    .menu-box {
        height: 70px;
    }
    .menu-box .menu {
        width: 40%;
    }
    .menu-box .menu-l {
        padding-left: 60px;
    }
    .menu-box .menu-r {
        padding-right: 60px;
    }
    .menu-box .menu li {
        margin-right: 60px;
    }
    .menu-box .menu li a,
    .header.active .menu li a {
        font-size: 13px;
    }
    .header-logo {
        width: 190px;
        height: 100px;
        top: 20px;
    }
    .header.active .header-logo {
        width: 90px;
        height: 47px;
    }
    
    /* banner */
    .banner-txt{
        top: 25%;
    }
    .banner-txt .title p {
        font-size: 80px;
    }
    .roll-btn {
        width: 250px;
        height: 62px;
        line-height: 62px;
    }
    .roll-btn h2 {
        font-size: 15px;
        letter-spacing: 4px;
    }

    /* 공통영역 */
    .container{
        width: 1000px;
    }
    .head-title{
        line-height: 1.1;
    }

    /* sec-1 */
    .sec-1-head{
        justify-content: initial;
        margin-left: 90px;
    }
    .sec-1 .badge {
        margin-right: 130px;
    }
    .badge {
        width: 200px;
        height: 200px;
    }
    .sec-1 .slide{
        margin-right: 60px;
    }
    /* sec-1 swiper */
    .sec-1 .slide{
        margin-right: 40px;
        width: 300px;
    }
    .sec-1 .background{
        height: 435px;
    }
    .sec-1 .background .img-box {
        width: 170px;
        height: 170px;
    }
    .sec-1 .txt-box {
        top: 345px;
    }
    .sec-1 .txt-inner .type {
        font-size: 14px;
    }
    .sec-1 .txt-inner .title {
        font-size: 31px;
    }
    .sec-1 .txt-inner .price {
        font-size: 16px;
    }
    .sec-1 .roll-btn{
        height: 55px;
        line-height: 55px;
    }
    .sec-1 .roll-btn h2 {
        font-size: 12px;
        letter-spacing: 3px;
    }

    /* card animation */
    .card-flex-box{
        flex-direction: column;
        justify-content: initial;
        align-items: initial;
    }
    .card-flex-box .txt-box{
        margin-bottom: 150px;
    }
    .card-wrap{
        margin: 0 auto;
        width: 510px;
        height: 641px;
    }

    /* sec-3 */
    .sec-3 .container{
        width: auto;
    }
    .sec-3-flex{
        flex-direction: column;
        justify-content: initial;
    }
    .sec-3 .box-l{
        position: static;
    }
    .sec-3 .box-l .left-inner{
        width: 1000px;
        padding: 0 100px;
        height: 720px;
    }
    .sec-3 .roll-btn {
        width: 195px;
    }
    .sec-3 .icon-box{
        margin-right: 70px;
    }
    .sec-3 .box-r{
        padding-top: 70px;
        margin-left: 470px;
    }
    .sec-3 .flavor li{
        width: 530px;
    }
    .sec-3 svg {
        stroke-dasharray: 190px;
        stroke-dashoffset: 190px;
    }
    .sec-3 svg text{
        font-size: 40px;
    }

    /* sec-4 */
    .sec-4 .container{
        padding: 50px 0;
        width: 500px;
    }
    .sec-4 .animation-txt{
        height: 525px;
    }
    .sec-4 .animation-txt.box1 {
        left: 25px;
        top: 410px;
        animation: txt1 50s linear infinite;
    }
    .sec-4 .animation-txt.box2 {
        right: 25px;
        top: -525px;
        animation: txt2 50s linear infinite;
    }
    .sec-4-swiper {
        padding-bottom: 45px !important;
    }
    .sec-4 .inner .title{
        padding-bottom: 10px;
    }
    .sec-4 .inner .icon-box{
        padding: 0;
    }
    .sec-4 .inner .sub{
        font-size: 14px;
        margin-top: 10px;
    }

    /* sec-6 */
    .sec-6 .head{
        margin-left: 45%;
    }
    .sec-6 .slide{
        width: 380px;
        margin-right: 40px;
    }
    .sec-6 .slide .title {
        font-size: 30px;
    }
    .sec-6 .slide .img-box {
        height: 380px;
    }

    /* footer */
    .footer .txt-box {
        width: 680px;
    }
}


@media (max-width:1000px){
    /* header */
    .menu-box {
        height: 60px;
    }
    .menu-box .menu-l {
        padding-left: 50px;
    }
    .menu-box .menu-r {
        padding-right: 50px;
    }
    .menu-box .menu li {
        margin-right: 60px;
    }
    .menu-box .menu-l li:nth-child(2),
    .menu-box .menu-r li:nth-child(1){
        display: none;
    }
    .menu-box .menu li a,
    .header.active .menu li a{
        font-size: 12px;
    }
    .header-logo {
        width: 130px;
        height: 68px;
        top: 23px;
    }
    .header.active .header-logo {
        width: 80px;
        height: 42px;
    }
    .banner-txt .title {
        margin-bottom: 15px;
    }
    .banner-txt .title p {
        font-size: 75px;
    }
    .roll-btn {
        width: 200px;
        height: 56px;
        line-height: 56px;
    }
    .roll-btn h2 {
        font-size: 13px;
        letter-spacing: 3px;
    }

    /* sec 공통 */
    .head-title{
        font-size: 70px;
        line-height: 1;
    }
    .head-sub{
        font-size: 13px;
        font-weight: 400;
    }
    .container{
        width: 760px;
    }

    /* sec-1 */
    .sec-1-head{
        margin-left: 30px;
    }
    .sec-1 .badge{
        margin-right: 90px;
    }
    .badge{
        width: 185px;
        height: 185px;
    }

    /* sec-2 */
    .sec-2 .container {
        padding: 220px 0 108px;
    }

    .card-flex-box .txt-box {
        margin-bottom: 180px;
    }
    .card-wrap{
        width: 450px;
        height: 566px;
    }

    /* sec-3 */
    .sec-3 .container {
        padding: 80px 0 110px;
    }
    .sec-3 .box-l .left-inner{
        width: 760px;
        height: 700px;
        padding: 0 65px;
    }
    .sec-3 .roll-btn {
        width: 185px;
    }
    .sec-3 .icon-box{
        margin-right: 45px;
        width: 75px;
        height: 75px;
    }
    .sec-3 .box-r{
        margin-left: 255px;
    }
    .sec-3 .flavor li {
        width: 500px;
    }
    .sec-3 svg text {
        font-size: 38px;
    }
    
    /* sec-6 */
    .sec-6 .head {
        margin-left: 40%;
    }
    .sec-6 .slide {
        width: 310px;
    }
    .sec-6 .slide .img-box {
        height: 310px;
    }
    .sec-6 .slide .title {
        width: 290px;
        font-size: 30px;
        font-size: 35px;
        margin-top: 30px;
        line-height: 1.2;
    }

    /* footer */
    .footer .container {
        padding: 70px 0 30px;
    }
    .footer .head {
        margin-bottom: 50px;
    }
    .footer .head .logo-box {
        width: 155px;
    }
    .footer .content {
        flex-direction: column;
        justify-content: initial;
        text-align: center;
        margin-bottom: 45px;
    }
    .footer .txt-box{
        width: auto;
        margin-bottom: 40px;
    }
    .footer .txt-box .title {
        font-size: 16px;
    }
    .footer .txt-box .sub .in-box {
        margin-bottom: 0px;
        justify-content: center;
    }
    .footer .txt-box .sub .in-box p {
        font-size: 14px;
    }
    .footer .txt-box .sub .in-box p:last-child {
        margin-left: 15px;
    }
    .footer .notice{
        display: none;
    }
    .footer .icon{
        display: flex;
    }
    .footer .icon .in-box:first-child{
        margin-bottom: 0;
        margin-right: 20px;
    }
    .footer .icon .img-box:first-child {
        margin-right: 20px;
    }
    .footer .bottom {
        font-size: 14px;
    }
}


@media (max-width:760px){
    /* header */
    .header .menu-box{
        display: none;
    }
    .menu-box-m{
        display: block;
        width: 100%;
        height: 80px;
        background-color: transparent;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        padding: 10px 30px;
    }
    .header.active .menu-box-m{
        height: 70px;
        background-color: #222;
        padding: 5px 30px;
    }
    .menu-box-m.on{
        height: 70px;
        padding: 5px 30px;
    }
    .menu-btn{
        width: 24px;
        height: 20px;
        position: relative;
        cursor: pointer;
    }
    .header.active .menu-btn span{
        background-color: #fff;
    }
    .menu-btn span{
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background-color: #222;
        position: absolute;
        top: 0;
        left: 0;
    }
    .menu-btn span:nth-child(2){
        top: 8px;
    }
    .menu-btn span:nth-child(3){
        top: 16px;
    }
    .menu-btn.active{
        z-index: 9999;
    }
    .menu-btn.active span{
        background-color: #fff;
    }
    .menu-btn.active span:nth-child(1){
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
    .menu-btn.active span:nth-child(2){
        display: none;
    }
    .menu-btn.active span:nth-child(3){
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }
    .menu-m{
        width: 100%;
        height: 750px;
        position: absolute;
        top: 0;
        left: 0;
        padding: 110px 30px;
        background-color: #222;
        z-index: 999;
        display: none;
    }
    .menu-m::before{
        content: '';
        width: 80%;
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 34px;
        right: 30px;
    }
    .menu-m::after{
        content: '';
        width: calc(100% - 60px);
        height: 1px;
        background-color: #fff;
        position: absolute;
        top: 715px;
        left: 50%;
        transform: translateX(-50%);

    }
    .menu-m li{
        margin-bottom: 25px;
    }
    .menu-m li a{
        font-size: 22px;
        font-weight: 900;
        text-transform: uppercase;
        color: #fff;
        letter-spacing: 2px;
    }
    .menu-m li a:hover{
        color: #fad3c0;
    }
    .logo-m{
        width: 133px;
        height: 70px;
        background-image: url(../img/logo-black.svg);
        background-size: cover;
        background-repeat: no-repeat
    }
    .header.active .logo-m{
        width: 100px;
        height: 52px;
        background-image: url(../img/logo-white.svg);
    }
    .menu-box-m .icon{
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
    .header.active .icon svg{
        fill: #fff;
    }

    /* banner */
    .banner-txt{
        top: 19%;
    }
    .banner-txt .title{
        flex-direction: column;
        align-items: center;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .banner-txt .title p{
        font-size: 58px;
        line-height: 1.1;
        margin-right: 0;
    }
    .roll-btn {
        width: 150px;
        height: 46px;
        line-height: 45px;
        margin-top: 40px;
    }
    .roll-btn h2 {
        font-size: 10px;
        letter-spacing: 2px;
    }

    /* 공통 영역 */
    .container{
        width: 100%;
    }
    .head-title{
        font-size: 55px;
    }
    .head-sub{
        font-size: 11px;
    }
    .badge{
        width: 120px;
        height: 120px;
    }

    /* sec-1 */
    .sec-1 .container,.sec-5 .container{
        padding: 70px 0 25px;
    }
    .sec-1-head{
        flex-direction: column;
        align-items: flex-start;
        width: 500px;
        margin: 0 0 75px 30px;
    }
    .sec-1 .badge{
        margin: 0 0 80px 305px;
    }
    .sec-1 .animate-wrap {
        height: 425px;
    }
    .sec-1 .slide{
        width: 215px;
    }
    .sec-1 .slide:nth-child(2n) {
        margin-top: 0;
    }
    .sec-1 .background {
        height: 315px;
    }
    .sec-1 .background .img-box {
        width: 120px;
        height: 120px;
    }
    .sec-1 .txt-box {
        top: 244px;
    }
    .sec-1 .txt-inner .type {
        font-size: 12px;
    }
    .sec-1 .txt-inner .title {
        font-size: 25px;
        margin-bottom: 8px;
    }
    .sec-1 .txt-inner .price {
        font-size: 14px;
    }
    .sec-1 .roll-btn {
        height: 45px;
        line-height: 45px;
        width: 120px;
        margin-top: 20px;
    }
    .sec-1 .roll-btn h2 {
        font-size: 10px;
        letter-spacing: 2px;
    }

    /* sec-2 */
    .sec-2 .container {
        padding: 230px 0px 100px;
    }
    .card-flex-box .txt-box {
        margin-bottom: 125px;
        margin-left: 30px;
    }
    .card-wrap {
        width: 470px;
        height: 591px;
    }

    /* sec-3 */
    .sec-3 .box-l .left-inner{
        width: 98%;
        height: 553px;
        padding: 0 30px;
    }
    .sec-3 .roll-btn {
        width: 145px;
        margin-top: 40px;
    }
    .sec-3 .icon-container {
        margin-top: 85px
    }
    .sec-3 .icon-box {
        margin-right: 50px;
        width: 70px;
        height: 70px;
    }
    .sec-3 .box-r{
        width: 85%;
        margin: 0 auto;
    }
    .sec-3 .flavor {
        margin-top: -30px;
    }
    .sec-3 .flavor li {
        width: 100%;
        margin-top: 30px;
    }
    .sec-3 svg {
        width: 220px;
        stroke-dasharray: 160px;
        stroke-dashoffset: 160px;
    }
    .sec-3 svg text {
        font-size: 33px;
    }
    .sec-3 svg tspan {
        font-size: 16px;
    }

    /* sec-4 */
    .sec-4 .container{
        width: 500px;
    }
    .sec-4 .animation-txt{
        display: none;
    }
    .sec-4 .head{
        padding-bottom: 20px;
    }
    .sec-4 .head-title {
        font-size: 32px;
    }
    .sec-4 .inner .title {
        font-size: 20px;
        padding-bottom: 10px;
    }
    .sec-4 .inner .icon-box {
        width: 65px;
        height: 64px;
        margin: 0;
    }
    .sec-4 .inner .sub {
        font-size: 12px;
    }

    /* sec-5 */
    .sec-5 .badge {
        margin-left: 90px;
    }

    /* sec-6 */
    .sec-6 .container {
        padding: 350px 0 100px;
    }
    .sec-6 .head {
        margin: 0 auto;
        width: 500px;
        display: block;
    }
    .sec-6 .animate-wrap {
        margin-top: 70px;
    }
    .sec-6 .slide {
        width: 240px;
    }
    .sec-6 .slide .img-box {
        height: 240px;
    }
    .sec-6 .slide .title {
        width: 230px;
        font-size: 22px;
        margin-top: 20px;
    }
}


@media (max-width:650px){
    .sec-3 .box-l .left-inner{
        border-top-right-radius: 215px;
    }
    .sec-3 .icon-box:nth-child(5){
        display: none;
    }
    .sec-3 svg text {
        font-size: 30px;
    }
}


@media (max-width:550px){
    .sec-3 .icon-box:nth-child(4){
        display: none;
    }
}


@media (max-width:500px){
    /* header */
    .menu-box-m{
        height: 70px;
        padding: 10px 16px;
    }
    .menu-box-m.on,
    .header.active .menu-box-m {
        height: 60px;
        padding: 10px 16px;
    }
    .menu-btn{
        width: 21px;
        height: 16px;
    }
    .menu-btn span:nth-child(2) {
        top: 6px;
    }
    .menu-btn span:nth-child(3) {
        top: 12px;
    }
    .menu-box-m .icon {
        width: 20px;
        height: 20px
    }
    .menu-m{
        height: 630px;
        padding: 90px 16px;
    }
    .menu-m::before{
        width: 75%;
        top: 28px;
        right: 16px;
    }
    .menu-m::after{
        width: calc(100% - 32px);
        top: 595px;
    }
    .menu-m li a {
        font-size: 18px;
    }
    .logo-m {
        width: 100px;
        height: 52px;
    }

    /* banner */
    .banner-txt .title{
        margin-bottom: 30px;
    }
    .banner-txt .title p{
        font-size: 40px;
        line-height: 1.2;
    }
    .roll-btn {
        width: 140px;
        height: 43px;
        line-height: 43px;
    }
    .roll-btn h2 {
        letter-spacing: 1px;
    }

    /* sec-1 */
    .sec-1 .container, .sec-5 .container {
        padding: 50px 0 25px;
    }
    .sec-1-head{
        width: auto;
        margin: 0 16px 90px;
    }
    .sec-1 .badge{
        margin: 0 0 90px 90px;
    }
    .sec-1 .slide {
        margin-right: 25px;
    }
    .head-title {
        font-size: 35px;
    }
    .head-sub{
        line-height: 1.6;
    }
    .sec-1 .roll-btn h2{
        letter-spacing: 1px;
    }

    /* sec-2 */
    .sec-2 .container,
    .sec-6 .container {
        padding: 200px 0px 90px;
    }
    .card-flex-box .txt-box{
        margin-left: 16px;
        margin-bottom: 90px;
    }
    .card-wrap {
        height: auto;
        width: 85%;
        padding-bottom: 115.452%;
    }

    /* sec-3 */
    .sec-3 .container {
        padding: 80px 0 55px;
    }
    .sec-3 .box-l .left-inner{
        height: 500px;
        padding: 0 16px;
        border-top-right-radius: 160px;
    }
    .sec-3 .roll-btn {
        width: 132px;
    }
    .sec-3 .icon-box {
        margin-right: 45px;
        width: 60px;
        height: 60px;
    }
    .sec-3 .box-r{
        width: 90%;
        padding-top: 55px;
    }
    .sec-3 svg{
        height: 60px;
    }

    /* sec-4 */
    .sec-4 .container{
        width: 100%;
    }

    /* sec-5 */
    .sec-5 .card-flex-box {
        margin-top: 90px;
    }
    .sec-5 .card-flex-box .txt-box{
        margin-bottom: 70px;
    }

    /* sec-6 */
    .sec-6 .head{
        margin-left: 16px;
    }
    .sec-6 .slide{
        width: 205px;
        margin-right: 30px;
    }
    .sec-6 .slide .img-box {
        height: 205px;
    }
    .sec-6 .slide .title {
        width: 200px;
        font-size: 18px;
        margin-top: 15px;
    }

    /* footer */
    .footer .container {
        padding: 60px 0 30px;
    }
    .footer .head {
        margin-bottom: 35px;
    }
    .footer .head .logo-box {
        width: 105px;
    }
    .footer .txt-box .title {
        font-size: 12px;
    }
    .footer .txt-box .sub .in-box{
        flex-wrap: wrap;
    }
    .footer .txt-box .sub .in-box p {
        font-size: 10px;
    }
    .footer .txt-box .sub .in-box p:last-child {
        margin-left: 10px;
    }
    .footer .icon .img-box {
        width: 24px;
        height: 24px;
    }
    .footer .bottom {
        font-size: 10px;
    }
}